/* stylesheet */

body{
    font-family: cursive;
    text-align: center;
}

.bodyrecipe{
    text-align: left;
}

h1{
    font-size: 64px;
}

.h1recipe{
    font-size: 48px;
}

.h2recipe{
    color: darkblue;
    font-size: 36px;
}

.ulrecipe li{
    color: blue;
    font-size: 18px;
    list-style-position: inside
}

li{
    color: blue;
    font-weight: bold;
    font-size: 24px;
    list-style-position: inside;
}

img{
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

.imgrecipe{
    height: auto;
    margin-left: 0%;
}

dt{
    font-size: 30px;
}

#endrecipe{
    font-size: 30px;
}